div#PlaylistContainer {
	float: right;
	width: 25%;
}
div#SongContainer {
	width: 74%;
}
div#SongContainer input {
	width: 60%;
	margin: 0;
}
div#SongContainer select {
	width: 30%;
	margin: 0;
}
div#info {
	width: 210px;
	top: 12vh;
	position: absolute;
	left: 0;
	padding: 0 15px;
	color: #000;
	display: none;
}
div#info div[data-content="illustration"] {
	overflow: hidden;
	height: 320px;
}
div#info #ViolinFingerBoard {
	-webkit-transform: translateY(-20px);
}
div#list {
	width: 720px;
	margin-left: 240px;
	overflow-y: auto;
	height: 46vh;
}
div#list a {
	display: block;
	padding: 2px 0 2px 0;
	margin: 2px 0 2px 0;
}
div#list a:hover {
	background-color: #D0D0D0;
}
div#list .addToPlaylist,
div#PlaylistItems .removeFromPlaylist {
	float: right;
	width: 1vw;
	cursor: pointer;
	padding: 3px 5px 3px 5px;
}
div#list .octave {
	color: #BBB;
}

div#PlaylistContainer {
	overflow: hidden;
}
div#PlaylistContainer h2 {
	position: relative;
}
div#PlaylistContainer img.listPlaylist,
div#PlaylistContainer img.playPlaylist {
	height: 4vh;
	position: absolute;
	right: 4vh;
	cursor: pointer;
}
div#PlaylistContainer img.playPlaylist {
	right: 0;
}
div#PlaylistInfoContainerInner {
	color: #000;
	width: 200%;
	-webkit-transform: translate3d(-50%, 0, 0);
	-webkit-transition-duration: 1s;
}
div#PlaylistList,
div#PlaylistItems {
	width: 50%;
	height: 46vh;
	overflow-y: auto;
	float: left;
}
div#PlaylistList div,
div#PlaylistItems div {
	color: #000;
}
div#PlaylistList > div {
	height: 2vh;
	cursor: pointer;
}
div#PlaylistList > div:hover {
	background-color: #D0D0D0;
}
div#PlaylistItems div:first-child {
	height: 42vh;
	overflow-y: auto;
}
div#PlaylistItems table {
	width: 100%;
}
div#PlaylistItems table tr:hover {
	background-color: #D0D0D0;
}
div#PlaylistItems span.title {
	color: #000;
}
div#PlaylistItems span.octave {
	color: #BBB;
}
div#PlaylistItems form {
	margin: 0;
	height: 4vh;
}
div#PlaylistItems form label {
	font-size: 3vh;
	color: #000;
	line-height: 3vh;
}
div#PlaylistItems form select {
	width: 5vw;
	margin-top: 0;
	font-size: 2vh;
	height: 3vh;
}
div#PlaylistPlay label {
	color: #000;
	font-size: 2vmin;
}
div#PlaylistPlay select {
	width: 5vw;
	margin-top: 0;
}