body {
	padding: 0px;
	margin: 3vh 0 0 0;
}
body, div, p, span, td, a, button {
	font-size: 2vmin;
	font-family: 'Open Sans', Verdana;
	color :#FFF
}
h2 {
	font-size: 4vh;
}
h3 {
	font-size: 2vh;
}

a {
	text-decoration: none;
}
.opacity0 {
	opacity: 0;
}
.clear {
	float: none;
	clear: both;
}
.clear--left {
	float: none;
	clear: both;
}
.clear--right {
	float: none;
	clear: right;
}
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] .uneditable-input,
.std {
	width: 20.5vw;
	height: 4vh;
	font-size: 2vmin;
	line-height: 2vmin;
	margin: 1vh 2vw 2vh 2vw;
	box-sizing: content-box;
}
input[type="checkbox"], input[type="radio"] {
	margin: 1vh 2vw 2vh 2vw;
}
input.std::-webkit-input-placeholder,
input.std::-moz-input-placeholder,
input.std::-ms-input-placeholder,
input.std::-o-input-placeholder,
input.std::input-placeholder {
	color: #1DBAE7;
}
div.inputContainer {
	position: relative;
	width: 24vw;
}
div.inputContainer button.imgSubmit{
	position: absolute;
	right: 3vw;
	top: 1.7vh;
	height: 3.4vh;
	border: 0;
	background: transparent;
}
/*
.innerSubmit {
	height: 20px;
	background-color: transparent;
	position: absolute;
	opacity: 0.8;
	top: 15px;
	right: 1.5vw;
	margin-right: -5px;
}
.innerSubmit:hover,
.innerSubmit:active {
	background-image: url(../img/icons/submit.svg);
	background-position: 0;
	background-color: transparent;
	opacity: 1;
}*/
a:hover {
	text-decoration: underline;
	color :#FFF
}
div#CenteringContainer {
	width: 80%;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}
#logo {
	width: 12%;
	display: inline-block;
	margin-bottom: 10vh;
}
#guide {
    float: right;
    background-color: #B73535;
    padding: 0 1vw 0 1vw;
    line-height: 5vh;
    margin-right: 1vw;
    opacity: 0.5;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
#guide:hover {
    text-decoration: none;
    opacity: 1;
}
#guide img {
    height: 2vmin;
    margin-right: 5px;
    padding-bottom: 7px;
}

.popover {
	z-index: 9998;
}
.popover .popover-title {
	/*display: none;*/
}
.popover .popover-content {
	color: black;
	font-size: 2vmin;
}
.popover.tour .popover-title {
	font-size: 1.8vmin;
}
.popover.tour .popover-content {
	font-size: 1.4vmin;
}
.tour-backdrop {
	z-index: 1109;
}
.tour-step-background {
	background: transparent;
	z-index: 1110;
}
.tour-step-backdrop {
	z-index: 1111;
}
div#languages {
	padding-right: 1.4vw;
}
div#languages img {
	float: right;
	height: 2vh;
	padding-left: 0.6vw;
	opacity:0.5;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}
div#languages img:hover {
	opacity:1;
}

body > div.countdown {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	background-color: rgba(0,0,0,0.5);
	z-index: 100;
	-webkit-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-ms-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
	transition-duration: 0.5s;
}
body > div.countdown > div.countdown-number {
	margin-top: 25%;
	font-weight: bold;
	font-size:40vmin;
	font-family: tahoma;
	opacity: 1;
}
body > div.countdown > div.countdown-next {
	margin-top: -37vmin;
	font-size: 10vmin;
}
body > div.countdown > div.animateCountdown {
	font-size: 75vmin;
	-webkit-animation-name: countdown;
	-moz-animation-name: countdown;
	-ms-animation-name: countdown;
	-o-animation-name: countdown;
	animation-name: countdown;
	-webkit-animation-duration: 1s;
	-moz-animation-duration: 1s;
	-ms-animation-duration: 1s;
	-o-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	-ms-animation-iteration-count: infinite;
	-o-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}
@-webkit-keyframes countdown {
	0% { -webkit-transform: scale(1); opacity: 1;}
	95% { -webkit-transform: scale(0.3); opacity: 0.5;}
	100% { -webkit-transform: scale(1); opacity: 1;}
}
@-moz-keyframes countdown {
	0% { -moz-transform: scale(1); opacity: 1;}
	95% { -moz-transform: scale(0.3); opacity: 0.5;}
	100% { -moz-transform: scale(1); opacity: 1;}
}
@-ms-keyframes countdown {
	0% { -ms-transform: scale(1); opacity: 1;}
	95% { -ms-transform: scale(0.3); opacity: 0.5;}
	100% { -ms-transform: scale(1); opacity: 1;}
}
@-o-keyframes countdown {
	0% { -o-transform: scale(1); opacity: 1;}
	95% { -o-transform: scale(0.3); opacity: 0.5;}
	100% { -o-transform: scale(1); opacity: 1;}
}
@keyframes countdown {
	0% { transform: scale(1); opacity: 1;}
	95% { transform: scale(0.3); opacity: 0.5;}
	100% { transform: scale(1); opacity: 1;}
}

body > div.countdown > div.countdown-illustration {
	margin-top: 14%;
}
body > div.countdown > div.countdown-illustration div#ViolinFingerBoard {
	background-color: #FFF;
}


.CompassOuter {
	width: 100%;
	height: 7.5vh;
	display: none;
}
.Compass {
	position: relative;
	text-align: center;
	overflow: hidden;
	background-image: -webkit-linear-gradient(left , rgb(153,0,0) 0%, rgb(153,153,0) 48%, rgb(0,153,0) 50%, rgb(153,153,27) 52%, rgb(153,0,0) 100%);
	background-image: -moz-linear-gradient(left , rgb(153,0,0) 0%, rgb(153,153,0) 48%, rgb(0,153,0) 50%, rgb(153,153,27) 52%, rgb(153,0,0) 100%);
	background-image: -ms-linear-gradient(left , rgb(153,0,0) 0%, rgb(153,153,0) 48%, rgb(0,153,0) 50%, rgb(153,153,27) 52%, rgb(153,0,0) 100%);
	background-image: -o-linear-gradient(left , rgb(153,0,0) 0%, rgb(153,153,0) 48%, rgb(0,153,0) 50%, rgb(153,153,27) 52%, rgb(153,0,0) 100%);
	background-image: linear-gradient(left , rgb(153,0,0) 0%, rgb(153,153,0) 48%, rgb(0,153,0) 50%, rgb(153,153,27) 52%, rgb(153,0,0) 100%);
}
.Compass > * {
	line-height: 7.5vh;
}
.Compass > .CompassTone {
	position: relative;
}
.Compass > .CompassToneBefore,
.Compass > .CompassToneAfter {
	position: absolute;
	top: 0;
}
.Compass > .CompassToneBefore {
	left: 0;
	right: auto;
}
.Compass > .CompassToneAfter {
	left: auto;
	right: 0;
}
.Compass > .CompassArrow {
	border: 1px solid #000;
	width: 0;
	position: absolute;
	top: 0;
}

/**
* Illustrations class
*/
table#ViolinFingerBoard {
	width: 200px;
	margin-top: 30px;
	position: relative;
}
table#ViolinFingerBoard td {
	padding-left: 3px;
	vertical-align: top;
	text-align: center;
	position: relative;
}
table#ViolinFingerBoard span.TopNote {
	background-color: #95A5A6;
	width: 44px;
	color: #000;
	line-height: 44px;
	border-radius: 22px;
	display: block;
}
table#ViolinFingerBoard td div {
	height: 250px;
	width: 2px;
	background-color: #000;
	display: inline-block;
}


/**
* Statistic
*/
.statistic-graph {
	width: 50%;
	height: 30vmin;
	float: left;
}

#system_requirements {
	z-index: 10500;
	position: fixed;
	top: 50%;
	left: 50%;
	width: 500px;
	margin-left: -250px;
	height: 200px;
	margin-top: -100px;
}

#intro {
	position: absolute;  left: 0;  top: 0;  width: 100%;  height: 100%;  background: #FFF;  z-index: 9999;
	opacity: 1;
	background-color: #71C211;
	-webkit-transition: 1s;
	-moz-transition: 1s;
	-ms-transition: 1s;
	-o-transition: 1s;
	transition: 1s;
	vertical-align: middle;
}
#intro svg {
	opacity: 0;
	height: 13.5vw;
	width: 80vw;
	display: inline-block;
	position: relative;
	top: 50%;
	margin-top: -5.75vw;
	left: 50%;
	margin-left: -40vw;
	z-index: 1000;
}
#intro.ready {
	opacity: 0;
	-webkit-animation-name: intro;
	-moz-animation-name: intro;
	-ms-animation-name: intro;
	-o-animation-name: intro;
	animation-name: intro;
	-webkit-animation-duration: 2s;
	-moz-animation-duration: 2s;
	-ms-animation-duration: 2s;
	-o-animation-duration: 2s;
	animation-duration: 2s;
}
#intro.show svg,
#intro.ready svg {
	opacity: 1;
}
@-webkit-keyframes intro {
	0% { opacity: 1;}
	50% { opacity: 1;}
	100% { opacity: 0;}
}
@-moz-keyframes intro {
	0% { opacity: 1;}
	50% { opacity: 1;}
	100% { opacity: 0;}
}
@-ms-keyframes intro {
	0% { opacity: 1;}
	50% { opacity: 1;}
	100% { opacity: 0;}
}
@-o-keyframes intro {
	0% { opacity: 1;}
	50% { opacity: 1;}
	100% { opacity: 0;}
}
@keyframes intro {
	0% { opacity: 1;}
	50% { opacity: 1;}
	100% { opacity: 0;}
}

body.ShowGame.song #logo svg path {
	fill: #71C211;
}
body.ShowGame.scale #logo svg path {
	fill: #E2A30C;
}

g#start line.pulse {
    -webkit-animation-name: game_pulse;
    -moz-animation-name: game_pulse;
    -ms-animation-name: game_pulse;
    -o-animation-name: game_pulse;
    animation-name: game_pulse;
    -webkit-animation-duration: 0.25s;
    -moz-animation-duration: 0.25s;
    -ms-animation-duration: 0.25s;
    -o-animation-duration: 0.25s;
    animation-duration: 0.25s;
}

@-webkit-keyframes game_pulse{
	0% { -webkit-transform: scaleY(1) translateY(0);}
	20% { -webkit-transform: scaleY(1.5) translateY(-18.75px);}
	100% { -webkit-transform: scaleY(1) translateY(0);}
}
@-moz-keyframes game_pulse{
	0% { -moz-transform: scaleY(1) translateY(0);}
	20% { -moz-transform: scaleY(1.5) translateY(-18.75px);}
	100% { -moz-transform: scaleY(1) translateY(0);}
}
@-ms-keyframes game_pulse{
	0% { -ms-transform: scaleY(1) translateY(0);}
	20% { -ms-transform: scaleY(1.5) translateY(-18.75px);}
	100% { -ms-transform: scaleY(1) translateY(0);}
}
@-o-keyframes game_pulse{
	0% { -o-transform: scaleY(1) translateY(0);}
	20% { -o-transform: scaleY(1.5) translateY(-18.75px);}
	100% { -o-transform: scaleY(1) translateY(0);}
}
@keyframes game_pulse{
	0% { transform: scaleY(1) translateY(0);}
	20% { transform: scaleY(1.5) translateY(-18.75px);}
	100% { transform: scaleY(1) translateY(0);}
}

#overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	-webkit-transform: translate3d(0,-100%,0);
	-moz-transform: translate3d(0,-100%,0);
	-ms-transform: translate3d(0,-100%,0);
	-o-transform: translate3d(0,-100%,0);
	transform: translate3d(0,-100%,0);

	-webkit-transition: opacity 0.3s, background-color 1s;
	-moz-transition: opacity 0.3s, background-color 1s;
	-ms-transition: opacity 0.3s, background-color 1s;
	-o-transition: opacity 0.3s, background-color 1s;
	transition: opacity 0.3s, background-color 1s;
	background-color: rgba(0,0,0,0.5);
	z-index: 100;
}
#overlay.show {
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	-ms-transform: translate3d(0,0,0);
	-o-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	opacity: 1;
}
#overlay.hide {
	-webkit-animation-name: overlay;
	-moz-animation-name: overlay;
	-ms-animation-name: overlay;
	-o-animation-name: overlay;
	animation-name: overlay;
	-webkit-animation-duration: 0.3s;
	-moz-animation-duration: 0.3s;
	-ms-animation-duration: 0.3s;
	-o-animation-duration: 0.3s;
	animation-duration: 0.3s;
	-webkit-transform: translate3d(0,-100%,0);
	-moz-transform: translate3d(0,-100%,0);
	-ms-transform: translate3d(0,-100%,0);
	-o-transform: translate3d(0,-100%,0);
	transform: translate3d(0,-100%,0);
	opacity: 0;
}
@-webkit-keyframes overlay {
	0% {-webkit-transform: translate3d(0,0,0);}
	99% {-webkit-transform: translate3d(0,0,0);}
	100% {-webkit-transform: translate3d(0,-100%,0);}
}
@-moz-keyframes overlay {
	0% {-moz-transform: translate3d(0,0,0);}
	99% {-moz-transform: translate3d(0,0,0);}
	100% {-moz-transform: translate3d(0,-100%,0);}
}
@-ms-keyframes overlay {
	0% {-ms-transform: translate3d(0,0,0);}
	99% {-ms-transform: translate3d(0,0,0);}
	100% {-ms-transform: translate3d(0,-100%,0);}
}
@-o-keyframes overlay {
	0% {-o-transform: translate3d(0,0,0);}
	99% {-o-transform: translate3d(0,0,0);}
	100% {-o-transform: translate3d(0,-100%,0);}
}
@keyframes overlay {
	0% {transform: translate3d(0,0,0);}
	99% {transform: translate3d(0,0,0);}
	100% {transform: translate3d(0,-100%,0);}
}

#overlay div.countdown {
	text-align: center;
}
#overlay div.countdown a {
	text-decoration: none;
}
#overlay div.countdown div.number {
	opacity: 0;

	position: absolute;
	font-weight: bold;
	font-size:60vmin;
	font-family: tahoma;
	top: 50%;
	width: 100%;
	line-height: 40vmin;
	margin-top: -20vmin;
}
#overlay div.countdown div.number > * {
	vertical-align: middle;
}
#overlay div.countdown div.number.run {
	-webkit-animation-name: countdown_number;
	-moz-animation-name: countdown_number;
	-ms-animation-name: countdown_number;
	-o-animation-name: countdown_number;
	animation-name: countdown_number;
}
#overlay div.countdown div.number.run.countdown-type--long {
	-webkit-animation-name: countdown_number_long;
	-moz-animation-name: countdown_number_long;
	-ms-animation-name: countdown_number_long;
	-o-animation-name: countdown_number_long;
	animation-name: countdown_number_long;
}
#overlay div.countdown div.number.run.countdown-type--long_rebounce {
	-webkit-animation-name: countdown_number_long_rebounce;
	-moz-animation-name: countdown_number_long_rebounce;
	-ms-animation-name: countdown_number_long_rebounce;
	-o-animation-name: countdown_number_long_rebounce;
	animation-name: countdown_number_long_rebounce;
}
#overlay div.countdown div.number.run.countdown-type--none {
	-webkit-animation-name: none;
	-moz-animation-name: none;
	-ms-animation-name: none;
	-o-animation-name: none;
	animation-name: none;
	opacity: 1;
}
div.countdown .next {
    margin-top: 19vmin;
    font-size: 10vmin;
}
div.countdown .bottom {
	margin-top: 55vmin;
   	font-size: 10vmin;
}
div.countdown .illustration {
    position: absolute;
    top: 50%;
    margin-top: -120px;
    background: rgba(255,255,255,0.5);
    box-shadow: 0 0 5px #FFF;
}
div.countdown .illustration table#ViolinFingerBoard {
    margin-top: 0;
}
@-webkit-keyframes countdown_number {
	0% { -webkit-transform: scale(0.2); opacity: 0.5;}
	5% { -webkit-transform: scale(1); opacity: 1;}
	100% { -webkit-transform: scale(0.2); opacity: 0.5;}
}
@-webkit-keyframes countdown_number_long {
	0% { -webkit-transform: scale(0.2); opacity: 0.5;}
	5% { -webkit-transform: scale(1); opacity: 1;}
	85% { -webkit-transform: scale(0.9); opacity: 1;}
	100% { -webkit-transform: scale(0.2); opacity: 0.5;}
}
@-webkit-keyframes countdown_number_long_rebounce {
	0% { -webkit-transform: scale(0.2); opacity: 0.5;}
	5% { -webkit-transform: scale(1); opacity: 1;}
	85% { -webkit-transform: scale(0.9); opacity: 1;}
	98% { -webkit-transform: scale(0.2); opacity: 0.5;}
}

@-moz-keyframes countdown_number {
	0% { -moz-transform: scale(0.2); opacity: 0.5;}
	5% { -moz-transform: scale(1); opacity: 1;}
	100% { -moz-transform: scale(0.2); opacity: 0.5;}
}
@-moz-keyframes countdown_number_long {
	0% { -moz-transform: scale(0.2); opacity: 0.5;}
	5% { -moz-transform: scale(1); opacity: 1;}
	85% { -moz-transform: scale(0.9); opacity: 1;}
	100% { -moz-transform: scale(0.2); opacity: 0.5;}
}
@-moz-keyframes countdown_number_long_rebounce {
	0% { -moz-transform: scale(0.2); opacity: 0.5;}
	5% { -moz-transform: scale(1); opacity: 1;}
	85% { -moz-transform: scale(0.9); opacity: 1;}
	98% { -moz-transform: scale(0.2); opacity: 0.5;}
}

@-ms-keyframes countdown_number {
	0% { -ms-transform: scale(0.2); opacity: 0.5;}
	5% { -ms-transform: scale(1); opacity: 1;}
	100% { -ms-transform: scale(0.2); opacity: 0.5;}
}
@-ms-keyframes countdown_number_long {
	0% { -ms-transform: scale(0.2); opacity: 0.5;}
	5% { -ms-transform: scale(1); opacity: 1;}
	85% { -ms-transform: scale(0.9); opacity: 1;}
	100% { -ms-transform: scale(0.2); opacity: 0.5;}
}
@-ms-keyframes countdown_number_long_rebounce {
	0% { -ms-transform: scale(0.2); opacity: 0.5;}
	5% { -ms-transform: scale(1); opacity: 1;}
	85% { -ms-transform: scale(0.9); opacity: 1;}
	98% { -ms-transform: scale(0.2); opacity: 0.5;}
}

@-o-keyframes countdown_number {
	0% { -o-transform: scale(0.2); opacity: 0.5;}
	5% { -o-transform: scale(1); opacity: 1;}
	100% { -o-transform: scale(0.2); opacity: 0.5;}
}
@-o-keyframes countdown_number_long {
	0% { -o-transform: scale(0.2); opacity: 0.5;}
	5% { -o-transform: scale(1); opacity: 1;}
	85% { -o-transform: scale(0.9); opacity: 1;}
	100% { -o-transform: scale(0.2); opacity: 0.5;}
}
@-o-keyframes countdown_number_long_rebounce {
	0% { -o-transform: scale(0.2); opacity: 0.5;}
	5% { -o-transform: scale(1); opacity: 1;}
	85% { -o-transform: scale(0.9); opacity: 1;}
	98% { -o-transform: scale(0.2); opacity: 0.5;}
}

@keyframes countdown_number {
	0% { transform: scale(0.2); opacity: 0.5;}
	5% { transform: scale(1); opacity: 1;}
	100% { transform: scale(0.2); opacity: 0.5;}
}
@keyframes countdown_number_long {
	0% { transform: scale(0.2); opacity: 0.5;}
	5% { transform: scale(1); opacity: 1;}
	85% { transform: scale(0.9); opacity: 1;}
	100% { transform: scale(0.2); opacity: 0.5;}
}
@keyframes countdown_number_long_rebounce {
	0% { transform: scale(0.2); opacity: 0.5;}
	5% { transform: scale(1); opacity: 1;}
	85% { transform: scale(0.9); opacity: 1;}
	98% { transform: scale(0.2); opacity: 0.5;}
}

div.countdown.microphone-permission .next {
    margin-top: 5vmin;
}
#overlay div.countdown.microphone-permission .number {
    font-size: 6.3vw;
}

/**
* Tour
*/
.popover.tour {
	border-color: #71C211;
	background-color: #71C211;
}
.popover.tour.left,
.popover.tour .arrow:after {
	border-left-color: #71C211;
}
.popover.tour .popover-title {
	background-color: #71C211;
}
.popover.tour .popover-content {
	background-color: #FFF;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}
.popover.tour .next {
    position: absolute;
    right: 3px;
    bottom: 3px;
}
.popover.tour .end {
    position: absolute;
    left: 3px;
    bottom: 3px;
}
.popover.tour .popover-content p {}
.popover.tour .popover-content p {
    height: 25px;
    color: #FFF;
}
.popover.tour.popover--no-labels .popover-content .next {
    display: none;
}