body {
	height: 100%;
	background-image: url(../img/layout/background-front.jpg);
	-webkit-background-size: 100% auto;
	-moz-background-size: 100% auto;
	-ms-background-size: 100% auto;
	-o-background-size: 100% auto;
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: 0 11vh;
	background-color: #004959;
}
text.logo-text {
	fill: #FFF;
}
body.song text.logo-text {
	fill: #71C211;
}
body.scale text.logo-text {
	fill: #E2A30C;
}
#logo {
	text-decoration: none;
}
div.ContentBox {
	width: 32%;
	margin-right: 1vw;
	float: left;
}
div.ContentBox > div {
	position: relative;
}
div.ContentBoxEnd {
	margin-right: 0; !important;
}
div.ContentBoxHeadline {
	line-height: 7.5vh;
	position: relative;
	z-index: 20;
}
div.ContentBoxHeadline img {
	height: 3vh;
	margin-right: 5px;
	margin-top: -1vmin;
}
div.ContentBoxHeadline a {
    float: right;
}

div.ContentBoxHeadline img#EditUser {
	margin: 0;
	text-align: right;
}
div.ContentBoxHeadline div {
	padding: 0 1.5vw 0 1.5vw;
}
div.ContentBoxHeadline div span {
	font-size: 3vmin;
}
div.ContentBoxBody {
	margin-top: 2px;
	height: 30vh;
	min-width: 160px;
	overflow: hidden;
	-webkit-transition-duration: 1s;
	-moz-transition-duration: 1s;
	-ms-transition-duration: 1s;
	-o-transition-duration: 1s;
	transition-duration: 1s;
	width: 100%;
	z-index: 10;
}
div.ContentBoxBody img, div.ContentBoxBody span {
	display: block;
	width: 3vmin;
	float: right;
}
a.IconLink img {
    display: inline;
    float: none;
    width: 2.5vmin;
}
body.ShowGame div:not(.ContentBoxBlue) div.ContentBoxBody {
	-webkit-transform: translate3d(0, -100%, 0);
	-moz-transform: translate3d(0, -100%, 0);
	-ms-transform: translate3d(0, -100%, 0);
	-o-transform: translate3d(0, -100%, 0);
	transform: translate3d(0, -100%, 0);
	position: absolute;
}
body .ContentBoxBodyContainer {
    position: absolute;
    width: 100%;
    overflow: hidden;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    height: 30vh;
}
body.ShowGame .ContentBox .ContentBoxBodyContainer {
    height: 0;
}
body.ShowGame .ContentBox:hover div:not(.ContentBoxBlue) .ContentBoxBodyContainer {
    height: 30vh;
}
body.ShowGame div.ContentBox:hover div:not(.ContentBoxBlue) div.ContentBoxBody {
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
div.ContentBoxBody.upper {
	margin-top: 2px;
	height: 20vh;
	min-width: 160px;
}
body.song {
	background-image: url(../img/layout/background-song.jpg);
	background-color: #EEE;
}
body.scale {
	background-image: url(../img/layout/background-scale.jpg);
	background-color: #EEE;
}
a.ContentBoxBody.lower {
	margin-top: 2vh;
	line-height: 8vh;
	min-width: 160px;
	display: block;
	-webkit-transition-duration: 1s;
	-moz-transition-duration: 1s;
	-ms-transition-duration: 1s;
	-o-transition-duration: 1s;
	transition-duration: 1s;
	height: 8vh;
	overflow: hidden;
}
a.ContentBoxBody.lower span {
	padding: 0 0 0 1.5vw;
}
div.ContentBoxBody div:first-child {
	position: relative;
}
div.ContentBoxBody a {
	display: block;
	padding: 0 1.5vw 0 1.5vw;
	line-height: 3.75vh;
}
div.ContentBoxBody .addToPlaylist {
	position: absolute;
	right: 10px;
	cursor: pointer;
}
div.ContentBoxBody .ViewAllGames {
	text-align: center;
}
div.ContentBoxHeadline h2 {
	padding: 0 1.5vw 0 1.5vw;
}
div.ContentBox > div > div.ContentBoxHeadline {
	height: 7.5vh;
	overflow: hidden;
	-webkit-transition-duration: 1s;
	-moz-transition-duration: 1s;
	-ms-transition-duration: 1s;
	-o-transition-duration: 1s;
	transition-duration: 1s;
}
div.ContentBoxGreen div:not(.ContentBoxBodyContainer) {
	background-color: #71C211;
}
div.ContentBoxOrange div:not(.ContentBoxBodyContainer) {
	background-color: #E2A30C;
}
div.ContentBoxBlue div:not(.ContentBoxBodyContainer) {
	background-color: #1DBAE7;
}
body.scale div.ContentBoxPoint > div:not(.ContentBoxBodyContainer) {
	background-color: #1DBAE7;
}
body.song div.ContentBoxPoint > div:not(.ContentBoxBodyContainer) {
	background-color: #1DBAE7;
}
body.ShowGame div.ContentBoxGameCompass {
	position: relative;
}
body.ShowGame div.ContentBoxGameCompass img {
	width: 50%;
	position: absolute;
	top: 3vh;
	left: 0;
}
body.ShowGame div.ContentBoxGameCompass img:nth-child(2) {
	right: 0;
	left: inherit;
}
div.ContentBoxGameCompass div.ContentBoxGameCompass-tone-before {
    position: absolute;
    top: 1vh;
    color: #000;
}
div.ContentBoxGameCompass div.ContentBoxGameCompass-tone-current {
    position: absolute;
    top: 1vh;
    color: #000;
    width: 100%;
    text-align: center;
}
div.ContentBoxGameCompass div.ContentBoxGameCompass-tone-after {
    position: absolute;
    top: 1vh;
    color: #000;
    right: 0;
}
div.ContentBoxGameCompass div.ContentBoxGameCompass-line {
	position: absolute;
	left: -1px;
	margin-left: 50%;
	height: 6vh;
	top: 1vh;
	background: #000;
	width: 2px;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-ms-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
}
body.ShowGame div.ContentBoxGameCompass.tour-step-backdrop div.ContentBoxGameCompass-tone-before,
body.ShowGame div.ContentBoxGameCompass.tour-step-backdrop div.ContentBoxGameCompass-tone-current,
body.ShowGame div.ContentBoxGameCompass.tour-step-backdrop div.ContentBoxGameCompass-tone-after {
	color: #FFF;
}

div.ContentBoxBlue input {
	color: #000;
	border-radius: 0;
}
div.ContentBoxBlue div.upper {
	background-color: #1DBAE7;
}
div.ContentBoxBlue a.lower {
	background-color: #8D32B7;
}
body.ShowGame div.ContentBoxBlue > div,
body.ShowGame div.ContentBoxBlue a {
	height: 0;
}
body.ShowGame div.ContentBoxBlue {
	height: 0;
}

div.ContentBoxGameControl div {
    margin-top: 1vh;
}

body div.ContentBoxGameControl div table td:nth-child(odd) {
    padding: 2px;
	-webkit-transition-duration: 1s;
	-moz-transition-duration: 1s;
	-ms-transition-duration: 1s;
	-o-transition-duration: 1s;
	transition-duration: 1s;
}
body.song div.ContentBoxGameControl div table td:nth-child(odd) {
    background-color: #71C211;
}
body.scale div.ContentBoxGameControl div table td:nth-child(odd) {
    background-color: #E2A30C;
}

body.ShowGame div.ContentBoxGameControl table {
    width: 100%;
    font-size: 2.5vh;
	line-height: 2.5vh;
}

body.ShowGame div.ContentBoxGameControl table tr input {
    width: 100%;
    height: 6vh;
    margin: 0;
    box-sizing: border-box;
    font-size: 2.5vh;
	line-height: 2.5vh;
    padding: 2vh;
    font-weight: bold;
    font-style: italic;
}
body.ShowGame div.ContentBoxGameControl table tr td {
	position: relative;
}
body.ShowGame div.ContentBoxGameControl table tr td:nth-child(2) {
    width: 5%;
    height: 4.5vh;
}
body.ShowGame div.ContentBoxGameControl table tr td:nth-child(3) {
    width: 55%;
    height: 4.5vh;
    cursor: pointer;
}
body.ShowGame div.ContentBoxGameControl .ContentBoxGameControl-playpause {
    font-size: 2.5vh;
    line-height: 2.5vh;
    padding: 1.9vh;
}
body.ShowGame div.ContentBoxGameControl .ContentBoxGameControl-icon {
    position: absolute;
    right: 2vh;
    height: 3vh;
}
body.ShowGame div.ContentBoxGameControl .ContentBoxGameControl-bpm {
    position: absolute;
    top: 2vh;
    right: 2vh;
    width: 6vh;
    color: #555555;
    margin: 0;
    font-weight: bold;
    font-style: italic;
    font-size: 2.5vh;
	line-height: 2.5vh;
    height: 2.5vh;
}

div.ContentBoxGameCompass,
div.ContentBoxPoint,
div.ContentBoxGameControl {
    height: 0;
    overflow: hidden;
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -ms-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
}
body.ShowGame div.ContentBoxGameCompass,
body.ShowGame div.ContentBoxPoint,
body.ShowGame div.ContentBoxGameControl {
	height: 7.5vh;
}

div#game_container {
	height: 0;
	overflow: hidden;
	-webkit-transition-duration: 1s;
	-moz-transition-duration: 1s;
	-ms-transition-duration: 1s;
	-o-transition-duration: 1s;
	transition-duration: 1s;
}
body.ShowGame div#game_container {
	height: 531px;
}
a.edit {
	float: right;
}
@media screen and (max-width: 620px) {
	div.ContentBox {
		float: none;
		width: 100%;
	}
	div.ContentBoxBody {
		height: 0;
		-webkit-transition: 1s;
		-moz-transition: 1s;
		-ms-transition: 1s;
		-o-transition: 1s;
		transition: 1s;
		overflow: hidden;
	}
	div.ContentBox:hover div.ContentBoxBody {
		height: 30vh;
	}
}

td[data-action="toggle-game"] > div {
    position: absolute;
    top: 1vh;
    width: 100%;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}
.ContentBoxGameControl-playpause-pause {
    -webkit-transform: rotateX(-90deg) translate3d(0, -28px, 0);
    -moz-transform: rotateX(-90deg) translate3d(0, -28px, 0);
    -ms-transform: rotateX(-90deg) translate3d(0, -28px, 0);
    -o-transform: rotateX(-90deg) translate3d(0, -28px, 0);
    transform: rotateX(-90deg) translate3d(0, -28px, 0);
}

td[data-action="toggle-game"].can_pause .ContentBoxGameControl-playpause-play {
    -webkit-transform: rotateX(90deg) translate3d(0, 28px, 0);
    -moz-transform: rotateX(90deg) translate3d(0, 28px, 0);
    -ms-transform: rotateX(90deg) translate3d(0, 28px, 0);
    -o-transform: rotateX(90deg) translate3d(0, 28px, 0);
    transform: rotateX(90deg) translate3d(0, 28px, 0);
}
td[data-action="toggle-game"].can_pause .ContentBoxGameControl-playpause-pause {
    -webkit-transform: initial;
    -moz-transform: initial;
    -ms-transform: initial;
    -o-transform: initial;
    transform: initial;
}

#LoginContainer {
    width: 200%;
}
#LoginContainer.login-container-custom {
    -webkit-transform: translateX(-50%);
}
#LoginContainer .login-container-box {
    height: 20vh;
    float: left;
    width: 50%;
}
#LoginContainer .login-container-box-main button {
    width: 20vw;
    height: 5vh;
    overflow: hidden;
    margin: 2vh 0;
    background-color: #FFF;
    color: #3C599F;
    border: 1px solid #000;
    line-height: 3vh;
    text-align: left;
    font-weight: bold;
}
#LoginContainer .login-container-box.login-container-box-main {
    text-align: center;
}

#LoginContainer button[name="custom_login"] {
	color: #71C211;
}
#LoginContainer button[name="facebook_login"] img,
#LoginContainer button[name="custom_login"] svg {
	float: none;
	display: inline-block;
	margin-left: 5px;
	margin-right: 5px;
}
#LoginContainer a[name="custom_login_back"] i {
	vertical-align: middle;
	margin-top: -2px;
}
#LoginContainer form {
	margin: 0;
}