div#BottomList {
    color: #000;
}
div#BottomList a:first-of-type {
    float: right;
    margin-top: 1vh;
}
table.BottomTableView {
    width: 100%;
}
table.BottomTableView tr:not(:nth-child(1)):hover {
    background-color: #DFDFDF;
    cursor: pointer;
}
table.BottomTableView tr th:nth-child(1), table.BottomTableView tr th:nth-child(2) {
    width: 30px;
}
table.BottomTableView tr th:nth-child(4), table.BottomTableView tr th:nth-child(5) {
    width: 150px;
}
table.BottomTableView tr td:nth-child(4), table.BottomTableView tr td:nth-child(5) {
    text-align: right;
}
table.BottomTableView td {
    color: #000;
}
table.BottomTableView .octave {
	color: #BBB;
}
table.summery {
   width: 100%;
}
table.Summery tr th {
    padding-top: 4vh;
}
table.Summery tr th:not(:nth-child(1)) {
    width: 150px;
}
table.Summery tr td:not(:nth-child(1)) {
    text-align: right;
}
table.Summery td, table.summery th {
   color: #000;
}