Options +FollowSymlinks
RewriteEngine On

IndexOptions +Charset=UTF-8
php_value post_max_size 200M

RewriteCond %{REQUEST_URI} !^/(pma|game.php|api|ajax|manipulate-games.php)
RewriteRule ^(.*)\.php	index.php [NC,QSA]
RewriteCond %{REQUEST_URI} !^/(pma|game.php|api|ajax|manipulate-games.php)
RewriteRule ^(.*)/$		index.php [NC,QSA]

<IfModule mod_deflate.c>
SetOutputFilter DEFLATE
# Don’t compress
SetEnvIfNoCase Request_URI \.(?:gif|jpe?g|png)$ no-gzip dont-vary
SetEnvIfNoCase Request_URI \.(?:exe|t?gz|zip|bz2|sit|rar)$ no-gzip dont-vary
#Dealing with proxy servers
<IfModule mod_headers.c>
Header append Vary User-Agent
</IfModule>
</IfModule>