<table>
	<tr>
		<td><input type="checkbox" name="slurstart" value="1" data-text="Slur Start" /></td>
		<td><input type="checkbox" name="slurend" value="2" data-text="Slur End" /></td>
		<td><input type="checkbox" name="removekey" value="0" data-text="Remove Key" /></td>
	</tr>
	<tr>
		<td><input type="checkbox" name="crescendo" value="1" data-text="Crescendo" /></td>
		<td><input type="checkbox" name="decrescendo" value="2" data-text="Decrescendo" /></td>
	</tr>
	<tr>
		<td><input type="checkbox" name="staccato" value="0" data-text="Staccato" /></td>
		<td><input type="checkbox" name="fermata" value="1" data-text="Fermata" /></td>
		<td><input type="checkbox" name="triplets" value="2" data-text="Triplets" /></td>
	</tr>
	<tr>
		<td><input type="checkbox" name="mp" value="0" data-text="MP" /></td>
		<td><input type="checkbox" name="p" value="0" data-text="P" /></td>
		<td><input type="checkbox" name="pp" value="1" data-text="PP" /></td>
	</tr>
	<tr>
		<td><input type="checkbox" name="mf" value="0" data-text="MF" /></td>
		<td><input type="checkbox" name="f" value="0" data-text="F" /></td>
		<td><input type="checkbox" name="ff" value="1" data-text="FF" /></td>
	</tr>
</table>