<div id="game_container_div" style="width: 100%;height: 500px;overflow: hidden;position: relative;">
	<svg height="500" width="100%" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="svg_container" version="1.1">
		<defs>
			<g id="pointer" transform="scale(0.1875)">
				<path id="svg_1" d="m0,0l0,100l86,-50l-87,-50"/>
			</g>
		</defs>
		<g id="background"></g>
		<g id="notes"></g>
		<g id="start"></g>
	</svg>
	<svg height="500" style="-webkit-transform: translate3d(0, -501px, 0);" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="svg_container_notes" version="1.1">
	</svg>
</div>